<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="boardMapper">
 	<resultMap type="Board" id="boardResult">
 		<result column="BOARD_NO" property="boardNo" />
 		<result column="BOARD_TITLE" property="boardTitle" />
 		<result column="BOARD_WRITER" property="boardWriter" />
 		<result column="BOARD_CONTENT" property="boardContent" />
 		<result column="ORIGIN_NAME" property="originName" />
 		<result column="CHANGE_NAME" property="changeName" />
 		<result column="COUNT" property="count" />
 		<result column="CREATE_DATE" property="createDate" />
 	</resultMap>
 
 	<!-- 게시글의 총 갯수 조회하는 쿼리문 -->
 	<select id="selectListCount" resultType="_int">
 		SELECT COUNT(*)
 		  FROM BOARD
 		 WHERE STATUS = 'Y'
 	</select>
 	
 	<!-- 게스글 조회 쿼리문 -->
 	<select id="selectList" resultMap="boardResult">
 		SELECT BOARD_NO,
 			   BOARD_TITLE,
 			   BOARD_WRITER,
 			   COUNT,
 			   TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS "CREATE_DATE",
 			   ORIGIN_NAME
 		  FROM BOARD
 		 WHERE STATUS = 'Y'
 		 ORDER BY BOARD_NO DESC
 	</select>
 	
 	<!-- 게시글 작성 쿼리문 -->
 	<insert id="insertBoard">
 		INSERT INTO
 			   BOARD (
 			   		   BOARD_NO,
 			   		   BOARD_TITLE,
 			   		   BOARD_WRITER,
 			   		   BOARD_CONTENT,
 			   		   ORIGIN_NAME,
 			   		   CHANGE_NAME	   
 			   		 )
 			  VALUES (
 			  		   SEQ_BNO.NEXTVAL,
 			  		   #{boardTitle},
 			  		   #{boardWriter},
 			  		   #{boardContent},
 			  		   #{originName},
 			  		   #{changeName}
 			  )
 	</insert>
 	<update id="increaseCount">
 		UPDATE BOARD
 		   SET COUNT = COUNT + 1
 		 WHERE BOARD_NO = #{boardNo}
 		   AND STATUS = 'Y'
 	</update>
 	
 	<select id="selectBoard" resultMap="boardResult">
 		SELECT BOARD_NO,
 			   BOARD_TITLE,
 			   BOARD_WRITER,
 			   BOARD_CONTENT,
 			   COUNT,
 			   TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS "CREATE_DATE",
 			   ORIGIN_NAME,
 			   CHANGE_NAME
 		  FROM BOARD
 		 WHERE STATUS = 'Y'
 		   AND BOARD_NO = #{boardNo}
 	</select>
 	<!-- 게시글 삭제 관련 sql -->
 	<update id="deleteBoard">
 		UPDATE BOARD
 		   SET STATUS = 'N'
 	 	 WHERE BOARD_NO = #{boardNo}
 	</update>
 	<!-- 게시글 수정 관련 쿼리문 -->
 	<update id="updateBoard">
 		UPDATE BOARD
 		   SET BOARD_TITLE = #{boardTitle},
 		   	   BOARD_CONTENT = #{boardContent},
 		   	   ORIGIN_NAME = #{originName},
 		   	   CHANGE_NAME = #{changeName}
 		 WHERE BOARD_NO = #{boardNo}
 	</update>
 	<!-- 댓글 조회 쿼리문 -->
 	<select id="selectReply" resultType="Reply">
 		SELECT REPLY_NO replyNo,
 			   REPLY_WRITER replyWriter,
 			   REPLY_CONTENT replyContent,
 			   TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS createDate
 		  FROM REPLY
 		 WHERE STATUS = 'Y'
 		   AND REF_BNO = #{bno}
 		 ORDER BY REPLY_NO DESC
 	</select>
 	<!-- 댓글 추가 -->
 	<insert id="insertReply">
 		INSERT 
 		  INTO REPLY(
 		  			 REPLY_NO,
 		  			 REPLY_CONTENT,
 		  			 REF_BNO,
 		  			 REPLY_WRITER
 		  			)
 		  VALUES(
 		  	     SEQ_RNO.NEXTVAL,
 		  	     #{replyContent},
 		  	     #{refBno},
 		  	     #{replyWriter}
 		        )
 	</insert>
 	
 	<!-- 게시글 조회수 top 5 조회 -->
 	<select id="selectTopBoardList" resultMap="boardResult">
 		select *
		from (SELECT BOARD_NO,
 			   BOARD_TITLE,
 			   BOARD_WRITER,
 			   COUNT,
 			   TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS "CREATE_DATE",
 			   ORIGIN_NAME
 			   FROM BOARD
 		 WHERE STATUS = 'Y'
         order by count desc)
       where  rownum between 1 and 5
 	
 	</select>
 	
 	
 	
 	
 	
 </mapper>